doctype html  
html(lang='sv')  
 head
   meta( charset='UTF-8' )
   meta( http-equiv='X-UA-Compatible' content='IE=edge' )
   meta( name='viewport', content='width=device-width, initial-scale=1' )
   title DT162G moment 2 del 1
 body
   h1 Moment 2 del 1 i JavaScriptbaserad programmering / REST API
   h2 Node.js och Express
   h3 //Alice Fagerberg

   a(href="http://localhost:3000/courses" target ="_blank") Se REST courses
   br
   a(href="http://localhost:3000/courses.html" target ="_blank") Se kurstabell